/* Base styles */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #000;
    background: #fff;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Lucida Grande", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    height: 100%;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

main,
li {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    font-weight: inherit;
}

strong {
    font-weight: bold;
}

a,
button, select {
    color: inherit;
}

a {
    text-decoration: none;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

input {
	font-family: -apple-system, BlinkMacSystemFont, "Lucida Grande", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
}

/* Chat list */
#chat-list {
	height: 100%;
	float:left;
    overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	width:30%;
	background-color: #e7edf6;
}

.chat-list-item {
	padding: 10px;
	border-bottom: 1px solid #999;
	cursor: pointer;
}

.chat-list-item-active {
	background-color: #3875d7;
}

.chat-list-item h2 {
    font-size: 13px;
	font-weight: bold;
}

.chat-list-item-active h2 {
	color: #fff;
}

.chat-list-item h3 {
	font-size: 12px;
    font-weight: normal;
	color: #393b3e;
	padding: 5px 0;
}

.chat-list-item-active h3 {
	color: #e7edf6;
}

.chat-list-item h4 {
	font-size: 10px;
	font-style: italic;
    font-weight: normal;
	color: #9aaac6;
}

/* Chat messages */
#no-selected-chat {
	height: 100%;
	float: left;
	width: 70%;
}

#no-selected-chat p {
	text-align: center;
	padding: 50px;
	font-size: 24px;
	font-weight: bold;
	color: #ddd;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

#selected-chat {
	display: none;
	height: 100%;
	float: left;
	width: 70%;
    overflow: scroll;
	overflow-y: scroll;
    overflow-x: auto;
}

#selected-chat form {
	padding: 10px;
	background: #eee;
}

.message-me-imessage,
.message-me-sms,
.message-remote {
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

#chat-messages h4 {
	font-size: 10px;
	font-weight: bold;
	color: #aaa;
	padding-bottom: 3px;
	float: left;
}

#chat-messages h4.message-date {
	float: right;
}

#chat-messages p {
	clear: both;
}
